<div class="container top" ng-controller="loginCtrl">
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            <div class="form-login">
                <form>
                    <h4>Welcome</h4>
                    <label class="login-inputs" for="userName">Username</label>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Username" ng-model="user.Username" />
                    <br />
                    <label class="login-inputs" for="userPassword">Password</label>
                    <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="Password" ng-model="user.Password" />
                    <br />
                    <hr />
                    <div class="wrapper">
                        <span class="group-btn">
                            <button type="submit" class="btn btn-primary btn-md btn-outline" ng-click="Login()">Login</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-login">
                <h4>Users</h4>
                <p>
                    <label class="login-inputs" for="userName">User: User1</label>
                    <br />
                    <label class="login-inputs" for="userName">Password: User1</label>
                </p>
                <br />
                <p>
                    <label class="login-inputs" for="userPassword">User: User2</label>
                    <br />
                    <label class="login-inputs" for="userPassword">Password:  User2</label>
                </p>
                <br />
            </div>
        </div>
    </div>
</div>