<div class="container top" ng-controller="postCtrl">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a ui-sref="main">HOME</a></li>
            <li><a ui-sref="topics">TOPICS</a></li>
            <li class="active">POST</li>
        </ol>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">FORUM APP</div>

            <div class="table-responsive">
                <table id="tbCategories" class="table table-striped table-condensed small table-hover table-text-middle">
                    <thead>
                        <tr>
                            <th class="col-md-2">&nbsp;</th>
                            <th class="col-md-10"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                admin <br />
                                moderator
                            </td>
                            <td>
                                <p>Olá,</p>

                                <p>Devido aos inúmeros tópicos desse tipo, este concentrará as solicitações dos users com relação ao assunto.</p>

                                <p>
                                    Uma dica é: se você consegue entender parte da letra, jogue no Google.<br />
                                    Ex: "she was a fast machine lyrics" ou "she was a fast machine letra"
                                </p>

                                <p>"A chave para se encontrar alguma coisa é saber como procurar".</p>

                                <p>Outra dica: baixe o aplicativo Shazam, pra Android ou iPhone que ele descobre as músicas. Eu uso: https://play.google.com/store/apps/details?id=com.shazam.android</p>

                                <p>Abs! ;)</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                user <br />
                                Newbie
                            </td>
                            <td>
                                <p>MauricioBahia</p>

                                <p>Muito obrigado. Foi mais rápido do que esperava.</p>

                                <p>Abs</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>